* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-size: 15px;
    line-height: 26px;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

.header {
    padding: 20px;
    text-align: center;
    background-color: whitesmoke;
}

nav ul li {
    display: inline;
    padding: 20px;
    font-size: larger;

}


a {
    text-decoration: none;
}

h1 {
    padding: 10px;
}

span h2 {
    padding-top: 10px;
}

h2 {
    padding-top: 20px;
}
