/* 内容开始 */
.content {
  font-size: 14px;
  padding-top: 2px;
  /* background-color: bisque; */
  /* height: 100px; */
  background-color: white;
}

/* 内容左侧开始 */
.content .left {
  width: 180px;
  float: left;
}

.content .left .chuangcheng {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
  height: 520px;
  background-color: #F4EDF5;
}

.content .left .chuangcheng .pic img,
.content .left .chuangcheng .pic_logo img {
  width: 180px;
}

.content .left .chuangcheng .xian {
  margin-top: 10px;
  height: 3px;
  background-color: #FF0000;
}

.content .left .chuangcheng .pic img {
  margin-top: 5px;
}

.content .left .chuangcheng .pic_logo img {
  margin-top: 3px;
}

/* 内容左侧结束 */
/* 内容中间开始 */


.content .moddle {
  float: left;
  width: 620px;
  /* background-color: #FF0000; */
  margin-left: 20px;
}

.content .moddle .news {
  float: left;
  width: 288px;
  height: 245px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #F4EDF5;
}

.content .moddle .news:nth-child(2n) {
  float: right;
  margin-right: 0;
}

.content .moddle .top {
  height: 38px;
  line-height: 38px;
  margin-left: 20px;
}

.content .moddle .news .txt1 {
  width: 100%;
  /* background-color: #fff; */
}

.content .moddle .news ul li {
  height: 33px;
  padding-left: 5px;
  line-height: 33px;
  border-bottom: 1px dotted #FF0000;
}

.content .moddle .news .txt1 ul li a:hover {
  color: red;
  text-decoration: underline;
}

.content .moddle .photos {
  float: left;
  width: 100%;
  height: 180px;
  overflow: hidden;
  background-color: #FF0000;
}

.content .moddle .photos img {
  width: 100%;
  transform: translateY(-49px);
}

/* 内容中间结束 */

/* 内容右侧开始 */

.content .right {
  float: right;
  width: 180px;
  height: 300px;
  background-color: blue;
}

.content .right .box {
  background-color: #FF0000;

}

.content .right .box .txt input {
  float: left;
  width: 72.55%;
  height: 20px;
  font-size: 12px;
}

.content .right .box .button button {
  float: left;
  height: 22px;
  width: 25%;
}

.content .right .oldnews {

  float: left;
  margin-top: 10px;
  width: 100%;
  background-color: #EFEFEF;
}

.content .right .oldnews .top {
  box-sizing: border-box;
  height: 25px;
  line-height: 24px;
  border: 1px solid #C5BECE;
  padding-left: 20px;
}

.content .right .oldnews .nr {
  text-indent: 1em;
}

.content .right .oldnews .nr ul li {
  height: 25px;
  line-height: 25px;
}

.content .right .oldnews .nr ul li {
  border-bottom: 1px dotted red;
}

.content .right .oldnews .nr ul li:hover a {
  color: red;
}

/* .content .right .box {
  float: left;
  margin-left: 10px;
  height: 300px;
  background-color: black;
} */

/* 内容右侧结束 */
/* 内容第一行结束 */
/* 内容第二行开始 */